body {
    font-family: Arial, Helvetica, sans-serif
}

#empForm input[type="text"] {
    padding: 4px;
    border: 1px solid #0037db;
}

input[type="button"] {
    padding: 2px 14px;
    border: 1px solid #0037db;
    background-color: #03598b;
    color: #fff;
}

#empForm label {
    display: block;
    text-align: left;
    float: left;
    min-width: 80px;
}

#empForm #add {
    margin-left: 200px;
}

form div {
    padding: 10px;
}

.error {
    color: red;
}

table {
    border-collapse: collapse;
    min-width: 600px;
}

th {
    background-color: #03598b;
    font-weight: bold;
    color: #fff;
}

th, td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
    width: 25%;
}

tr:nth-child(even) {
    background-color: #d5dde9;
}

tr:nth-child(odd) {
    background-color: #e3e7ee;
}

.deleteCell {
    text-align: center;
}